.addFavoriteButton {
	width: 160px;
	height: 40px;
	line-height: 40px;
	background: #3B322F;
	opacity: .5;
	margin: 5px auto;
	color: white;
	text-align: center;
}
.addFavoriteButton:hover {
	font-size: 20px;
}