.resultsFlex {
	display: flex;
	flex-direction: column;
	// border: 4px solid yellow;
}

.tempResults {
	// border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 1000px;  // 1000px is good for result boxes
	// min-height: 900px;
	height: 100%;
	padding: 15px;
	// background: #333;
	// border: 5px solid #777;
	// border-radius: 10px;
	// box-shadow: 0px 5px 10px #444;	
}

.eachItem, .itemsLayout {
	display: flex;
	flex-direction: column;
	margin: 0 0 10px 10px;
	width: 200px;
	height: auto;
	position: relative;
	z-index: 1006;
	box-sizing: border-box;

}
.itemImageContainer {
	background: #e6e6e6;
	width: 200px;
	height: 150px;
	text-align: center;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.likesImage, .suggestImage, .itemImage {
	width: auto;
	height: 150px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.imageContainer {
	width: 200px;
	height: 150px;
	box-sizing: border-box;
}
.innerText, .suggestText, .itemDescription {
	height: 100px;
	overflow: auto;
	font-size: 12px;
	background-color: #6E605C;
	padding: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 10px;

}
.textCategories {
	font-size: 14px;
}
// .starterBox {
// 	width: 600px;
// 	height: 300px;
// 	border: 1px solid red;
// 	position: relative: 
// 	top: -740px;
// 	left: 0;
// }