.saveSearchOption2 {
	width: 400px;
	height: 75px;
	// border: 1px solid red;
	background: #6E6460;
	
	border-radius: 8px;
	margin: 0 auto;
	padding: 8px;
	padding-left: 110px;
	
}

.saveSearchOption2 input[type=text] {
	width: 200px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	padding-left: 10px;
}

.saveSearchText {
	width: 200px;
	background: #3B322F;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: white;
	font-family: 'Swistblnk Monthoers';
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	// margin-left: 142px;	
}

