.searchBoxes {
	width: 120px;
	min-height: 50px;
	background-color: rgb(94,76,74);
	// background: #B69E82;
	margin: 10px auto;
	color: white;
	font-family: Arial;
	box-sizing: border-box;
	padding: 7px;
	display: flex;
	align-items: center;
	// border: 1px solid red;
	// overflow-x: scroll;
	// overflow-y: hidden;	
	font-size: 14px;
	text-shadow: 1px 1px #000;
	border-radius: 4px;
	-webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
}

.searchBoxes:hover {
	background: #8C7C78;
}

.fa-trash {
	color: white;
	position: relative;
	top: 2px;
	left: 3px;
}
.fa-trash:hover {
	background: black;
	font-size: 18px;
}
.deleteBox {
	width: 20px;
    height: 22px;
    background-color: #5e4c4a;
    // border: 1px solid red;
    position: relative;
    top: -60px;
    left: 4px;
    opacity: .5;
}